body {
    font-family: 'Roboto', sans-serif;
    width: 1068px;
    height: 768px;
    background: url("../images/background.png");
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 51px;
}
a {
    text-decoration: none;
    color: inherit;
}
.header-link {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo-link {
    width: 53px;
    height: 47px;
    background-image: url("../images/css_sprites.png");
    background-position: right 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-link:hover {
    background-position: -1px ;
}
.margin {
    margin-left: 53px;
}
.text-logo-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.second-title-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.contact-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.number {
    text-align: end;
}
main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.main-banner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 61px 79px;
    align-items: center;
    grid-template-rows: auto;
    text-align: center;
}
.main-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.banner {
    padding-bottom: 20px;
}
footer {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
p {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
a:hover {
    color: #F26522;
}
.main-link {
    position: relative;
}
.item-link {
    height: 55px;
    background: #F26522;
    position: absolute;
    bottom: 10px;
    width: 304px;
    opacity: 0;
    transition: all .60s ease;
    color: #FFFFFF;
}
/*.item-link:hover {
    opacity: 100%;

}*/
.temp:hover .item-link {
    opacity: 1;
    transform: translateY(-33px);
}
.item-1 {
    position: absolute;
    left: 21px;
    top: 11px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}
.item-2 {
    position: absolute;
    left: 21px;
    top: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.item-3 {
    position: absolute;
    left: 185px;
    top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.vector::after {
    content:"";
    width: 6px;
    height: 6px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    position: absolute;
    left: 279px;
    top: 35px;
    transform: translateY(-50%) rotate(225deg);

}
